{% extends "cronjobtemplates/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="/media/profile_pics/sladjan.jpg">
      <div class="media-body">
        <div class="article-metadata">
          <h2 class="mr-2">About Me</h2>
          <small class="text-muted">Ein Projekt vom Modul 307</small>
        </div>
        <h4 class="article-title" href="#">Der Sinn dieser Seite sollte ermöglichen:
        <ul class="list-unstyled">
            <li>- Login</li>
            <li>- Logout</li>
            <li>- Profil einsehen und ändern</li>
            <li>- Profilbild hochladen</li>
            <li>- Cronjobs kreieren</li>
            <li>- Eigene Cronjobs einsehen</li>
            <li>- Als Superuser Neuigkeiten erstellen</li>
        </ul>
        </h4>
        <p class="article-content">Abgabe: 11.10.2019, 17:00 Uhr</p>
      </div>
    </article>
{% endblock content %}