{% extends "cronjobtemplates/base.html" %}
{% block content %}
{% for neuigkeit in neuigkeiten %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ neuigkeit.user.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <h2>{{ neuigkeit.title }}</h2>
          <small class="text-muted">Erstellt von: {{ neuigkeit.user }}</small>
        </div>
        <h5>{{ neuigkeit.text }}</h5>
        <p class="article-content">Hinzugefügt am: {{ neuigkeit.added|date:"d. F, Y, H:i" }} Uhr</p>
      </div>
    </article>
{% endfor %}
{% endblock content %}
