{% extends "cronjobtemplates/base.html" %}
{% block content %}
{% for neuigkeit in Neuigkeiten %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ neuigkeiten.title }}</a>
          <small class="text-muted">{{ neuigkeiten.user }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ neuigkeiten.text }}</a></h2>
        <p class="article-content">{{ neuigkeiten.added }}</p>
      </div>
    </article>
{% endfor %}
{% endblock content %}
