* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;

}

.name {
  display: inline-block;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;

}
.url {
  display: inline-block;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
}

.border1{
  width: 80%;
  height: 100px;
  border-color: lightgray;
  border-style: solid;
  border-width: 2px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}

.Box1{
  display: flex;
  flex-direction: column;
  width: 95%;
}

.border2{
  width: 80%;
  height: 75px;
  border-color: lightgray;
  border-style: solid;
  border-width: 2px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.username{
  display: flex;
  width: 100%;
}

.password{
  display: flex;
  width: 100%;
}

.Benutzer-box {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.Benutzername-text {
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
}

.Password-text {
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;

}

.Password-box {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  margin-right: 20px;

  margin-bottom: 20px;
}

.Border3{
  width: 80%;
  height: 200px;
  border-color: lightgray;
  border-style: solid;
  border-width: 2px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-bottom: 20px;
}

.choose1{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.choose2{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.choose3{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.choose4{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

select{
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.MyInput {
  margin-top: 5px;
  margin-right: 10px;
}

.Border4{
  width: 80%;
  height: 200px;
  border-color: lightgray;
  border-style: solid;
  border-width: 2px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.Box4{
  display: flex;
}
