{% load static  %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{%  static 'style.css' %}">
    <title>Hello, world!</title>
  </head>
  <body>

  <form action="{% url 'homepage' %}" method="post">
        {% csrf_token %}
      <div class="container">
          <div class="title">
              <h1>Cron-Job erstellen</h1>
          </div>

            <p>Füllen Sie das folgende Formular aus, um einen Cron-Job anzulegen.
                Es werden sowohl http- als auch https-URLs unterstützt. Falls die URL mit HTTP-Authentifizierung gesichert ist
                (z.B ".htaccess"-Passwortschutz), hinterlegen Sie bitte auch die entsprechenden Zugangsdaten,
                damit wir die Webseite korrekt abrufen können. <br><br>
                <i>Hinweis: </i> Weitere erweiterte Einstellungen für Ihren Cron-Job können Sie nach dem Anlegen vornehmen, indem Sie den Job bearbeiten
            </p>
            <div class="border1">
                <div class="Box1">
                    <input class="name" type="text" id="name" name="Titel" required minlength="4" maxlength="20" placeholder="Titel">
                    <input class="url" type="url" name="Url" required placeholder="http://">
                </div>
            </div>

            <div class="Authentifizierung">
                <div class="Auth-text">
                    <p>Authentifizierung</p>
                </div>


                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" onclick="showBorder()" class="onoffswitch-checkbox" id="myonoffswitch" value="1">
                    <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                    </label>
                </div>
           </div>

            <script>
                function showBorder() {
                    var x = document.getElementById("border2");
                    if (x.style.display === "flex"){
                            x.style.display = "none";
                    } else {
                        x.style.display = "flex";
                    }
                }
            </script>

            <div id="border2">

                <div class="Benutzer-box">
                    <div class="Benutzername-text">Benutzername</div>
                    <input class="username" type="text" id="person" name="Username"  minlength="4" maxlength="20">
                </div>

                <div class="Password-box">
                    <div class="Password-text">Passwort</div>
                    <input class="password" type="password" id="password" name="Password"  minlength="4" maxlength="20">
                </div>


            </div>

            <div class="Border3">
                <div class="choose1">
                    <input class="MyInput" type="radio" name="oneChoice" id="check1" checked>
                        <p>Alle</p>
                        <input class="number" name="minute" type="number" max="60" min="0">
                    <p>Minute/n</p>
                </div>

                <div class="choose2">
                    <input class="MyInput" type="radio" name="oneChoice" id="check2">
                    <p>Jeden Tag um </p>
                    <input class="number" name="hour" type="number" max="23" min="0">
                    <p>:</p>

                    <input class="number" name="minutetwo" type="number" max="59" min="0">
                    <p>Uhr</p>
                </div>

                <div class="choose3">
                    <input class="MyInput"  type="radio" name="oneChoice" id="check3">
                    <p>Immer am </p>
                    <input class="number" name="day" type="number" max="31" min="0">
                    <p>des Monats um </p>
                    <input class="number" name="hourtwoo" type="number" max="23" min="0">
                    <p>:</p>
                    <input class="number" name="minutethree" type="number" max="59" min="0">
                    <p>Uhr</p>
                </div>

                <div class="choose4">
                        <input class="MyInput" type="radio" name="oneChoice" id="check4">
                        <p>Benutzerdefiniert</p>
                </div>
            </div>
                <div class="Border4">
                    <p> Mich per E-Mail benachrichtigen bei:</p>
                    <div class="Box4">

                        <div class="check1">
                             <input type="checkbox" name="check1" value="Fehlschlag"> Fehlschlag des Jobs
                        </div>

                        <div class="check2">
                            <input type="checkbox" name="check2" value="erfolgreich"> erfolgreichem Abruf nach vorherigem Fehlschlag
                        </div>

                        <div class="check3">
                            <input type="checkbox" name="check3" value="automatische deaktivierung" checked> automatische Deaktivierung wegen zu vieler Fehlschläge
                        </div>

                    </div>
                </div>
                    <div class="Border5">
                        <div class="check4">
                            <input type="checkbox" name="check4" value="Antworten speichern"> Antworten speichern
                        </div>
                    </div>
                    <div class="endtext">
                        <p> Mit der Erstellung des Cron-Jobs erklären Sie, dass Sie entweder der Inhaber der abzurufenden Webseite sind oder im Einverständnis des Inhabers handeln</p></div>
                    <div class="cron-button">
                        <button type="submit" name="button">Cron-Job erstellen</button>
                    </div>

            </div>
  </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>