{% load static  %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{%  static 'style.css' %}">
    <title>Hello, world!</title>
  </head>
  <body>

  <form action="" method="post">

      <div class="container">
            <h1>Cron-Job erstellen</h1>
            <p>Füllen Sie das folgende Formular aus, um einen Cron-Job anzulegen.
                Es werden sowohl http- als auch https-URLs unterstützt. Falls die URL mit HTTP-Authentifizierung gesichert ist
                (z.B ".htaccess"-Passwortschutz), hinterlegen Sie bitte auch die entsprechenden Zugangsdaten,
                damit wir die Webseite korrekt abrufen können.
            </p>
            <div class="border1">
                <div class="Box1">
                    <input class="name" type="text" id="name" name="name" required minlength="4" maxlength="20" size="50" placeholder="Titel">
                    <input class="url" type="url" name="website" size="50" placeholder="http://">
                </div>
            </div>

            <div class="border2">

                <input type="checkbox" name="check4" value="Antworten speichern"> Antworten speichern

                <div class="Benutzer-box">
                    <div class="Benutzername-text">Benutzername</div>
                    <input class="username" type="text" id="name" name="name" required minlength="4" maxlength="20" size="50" placeholder="Geben Sie hier den Benutzernamen ein">
                </div>

                <div class="Password-box">
                    <div class="Password-text">Passwort</div>
                    <input class="password" type="password" id="password" name="password" required minlength="4" maxlength="20" size="50" placeholder="Geben Sie hier den Passwort ein">
                </div>


            </div>

            <div class="Border3">
                <div class="choose1">
                    <input class="MyInput" type="radio" name="oneChoice" checked>
                        <p>Alle</p>
                        <select> name=minuten
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="60">60</option>
                        </select>
                    <p>Minuten</p>
                </div>

                <div class="choose2">
                    <input class="MyInput" type="radio" name="oneChoice">
                    <p>Jeden Tag um </p>
                    <select> name=Stunden
                        <option value="00">00</option>
                        <option value="06">06</option>
                        <option value="12">12</option>
                        <option value="18">18</option>
                    </select>
                    <p>:</p>

                    <select> name=minuten2
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                        <option value="60">60</option>
                    </select>
                </div>

                <div class="choose3">
                    <input class="MyInput"  type="radio" name="oneChoice">
                    <p>Immer am </p>
                    <select> name=tage
                        <option value="1">1</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                    </select>
                    <p>des Monats um </p>
                    <select> name=Stunden2
                        <option value="00">00</option>
                        <option value="06">06</option>
                        <option value="12">12</option>
                        <option value="18">18</option>
                    </select>
                    <p>:</p>
                    <select> name=minuten3
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                        <option value="60">60</option>
                    </select>
                </div>

                <div class="choose4">
                        <input class="MyInput" type="radio" name="oneChoice">
                        <p>Benutzerdefiniert</p>
                </div>
            </div>
                <div class="Border4">
                    <p> Mich per E-Mail benachrichtigen bei:</p>
                    <div class="Box4">

                        <div class="check1">
                             <input type="checkbox" name="check1" value="Fehlschlag"> Fehlschlag des Jobs
                        </div>

                        <div class="check2">
                            <input type="checkbox" name="check2" value="erfolgreich"> erfolgreichem Abruf nach vorherigem Fehlschlag
                        </div>

                        <div class="check3">
                            <input type="checkbox" name="check3" value="automatische deaktivierung" checked> automatische Deaktivierung wegen zu vieler Fehlschläge
                        </div>

                    </div>
                </div>
                    <div class="Border5">
                        <div class="check4">
                            <input type="checkbox" name="check4" value="Antworten speichern"> Antworten speichern
                        </div>
                    </div>
                    <div class="endtext">
                        <p> Mit der Erstellung des Cron-Jobs erklären Sie, dass Sie entweder der Inhaber der abzurufenden Webseite sind oder im Einverständnis des Inhabers handeln</p></div>
                    <div class="cron-button">
                        <button name="button">Cron-Job erstellen</button>
                    </div>

            </div>
  </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>